.register-page-container .phone-validation-container{
    
    background-color: white;
    border-radius: 6px;
}
div.register-wrapper{
    width: 50%;
}


@media screen and (max-width:768px) {
    .register-page-container .phone-validation-container{
    
        width: 100%;
    }
    div.register-wrapper{
    width: 90%;
}
    
}