div.upload-form-container{
    
    
        background-color: white;
    border: 1px solid #e7e7e7;
    padding: 32px 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
        
    
}
