div.manual-form-container{
    
    background-color: white;
    border: 1px solid #e7e7e7;
    padding: 32px 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
}
div.const-input-container{
    margin-top: 32px;
    margin-bottom: 28px;
}


@media screen and (max-width:960px) {
    div.const-input-container{
    
    margin-bottom: 16px;
}
div.manual-form-container{
    padding: 16px 16px;
}
}