div.desktop-navbar-container div.navbar-line{
    height: 64px;
    
    
}
div.desktop-navbar-container div.right{
    gap: 24px;
}
div.desktop-navbar-container div.right .navbar-item{
    transition: 0.3s ease;
    height: 64px;
    display: flex;
    align-items: center;
    
}
div.desktop-navbar-container .product-arrow{
    transition: 0.3s ease;
}
div.desktop-navbar-container .arrow-active{
    color: #FF5050;
    transform: rotate(90deg);
}
div.desktop-navbar-container div.right .navbar-item:hover{
    color: #FF5050;
    
}
 div.desktop-navbar-container .sub-menu {
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(4px); }
  to { opacity: 1; transform: translateY(0); }
}
div.desktop-navbar-container div.sub-menu{
    position: relative;
    z-index: 4;
    right: 0;
    top: 64px;
    padding: 0px;
    min-width: 208px;
    background-color: #48484D;
    border-bottom-right-radius: 8px;
    
    
}
div.sub-menu div.sub-menu-item{
    padding: 0px 16px 0px 8px;
}
div.desktop-navbar-container div.sub-menu-item:hover{
    background-color: #B3B3B3;
    
}
div.phone-container{
    gap: 8px;
}

div.sub-menu-item:hover .cls-2{
    fill: #FF5050;
}
div.sub-menu-item:hover p{
    font-family: "anjomanMedium";
    
}
div.sub-menu-item:hover .arrow{
    color: #FF5050;
}


div.sub-menu div.sub-menu-item p{
    padding: 20px 16px 0 0;
    
    
    
}
div.sub-sub-menu{
    background-color: rgb(255, 255, 255);
    top: 0;
    padding: 16px;
    position: absolute;
    min-width: 180px;
    height: 100%;
    right: 100%;
    box-shadow: -4px 0 10px rgba(177, 177, 177, 0.1), 0 4px 10px rgba(177, 177, 177, 0.1), 0 -4px 10px rgba(177, 177, 177, 0.1);
    border-bottom-left-radius:8px ;
}





